{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-4">
                    <div class="blog-item position-relative overflow-hidden">
                        <h1>{{lates.name}}</h1>
                        <img class="img-fluid" src={{lates.img.url}} alt="">
                        <a class="blog-overlay" href="">
                            <h4 class="text-white">{{lates.bio}}</h4>
                            <span class="text-white fw-bold">{{lates.date}}</span>
                        </a>
                    </div>
                </div>
{% endblock content %}




















