{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="testimonial-item text-center text-white">
                            <img class="img-fluid mx-auto p-2 border border-5 border-secondary rounded-circle mb-4" src={{names.img.url}} alt="">
                            <p class="fs-5">{{names.bio}}</p>
                            <hr class="mx-auto w-25">
                            <h4 class="text-white mb-0">{names.name}}</h4>
                        </div>
{% endblock content %}


















